/* css reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

/*  */
:root {
    --ff-roboto: "Roboto", sans-serif;

    --clr-dark-blue: #2B2D42;
    --clr-light-blue: #8D99AE;
    --clr-red: #EF233C;
    --clr-light: #EDF2F4;
    --clr-dark-red: #d90429;
    --clr-grey: #C8C8C8;
}

@keyframes shake {
    0%, 50%, 100% {
        transform: rotate(0deg);
    } 
    25% {
        transform: rotate(15deg);
    } 
    75% {
        transform: rotate(-15deg);
    }
}

body {
    font-family: var(--ff-roboto);
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(1rem, 3rem) minmax(0, 1fr) minmax(1rem, 3rem); 
    grid-template-rows: minmax(0, 20%) 1fr minmax(0, 20%);
    background-color: var(--clr-dark-blue);
    color: var(--clr-dark-blue);
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
}

.flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

/*  */

input[type="text"] {
    flex-grow: 1;
    border-radius: 40px;
    padding: .5em 1em;
    color: var(--clr-dark-blue);
    background-color: var(--clr-light);
    border: 2px solid var(--clr-light-blue);
    outline: none;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px #2B2D42;
}

input[type="text"] + button, .btn {
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    background-color: var(--clr-red);
    border: none;
    color: var(--clr-light);
}

input[type="checkbox"] {
    accent-color: var(--clr-dark-red);
}

.box {
    padding: 1.2em 2em;
    text-align: center;
    border-radius: 40px;
    background-color: var(--clr-light);
}

.box-todo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 250px;
    gap: .5rem;
    color: var(--clr-dark-blue);
    width: 400px;
}

.box-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border-radius: 10px;
}

.box-list__item > div:first-child {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.box-list__item > div:last-child button {
    background: none;
    border: none;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-dark-red);
}

.box-list__item > div:last-child button:hover {
    animation: shake .5s infinite;
}

.box-list__item p {
    white-space: normal;
    text-align: left;
}

form > .box-form__input {
    display: flex;
    align-items: center;
    gap: 1em;
}

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}

.box-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.timer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.timer-output {
    display: flex;
    align-items: center;
    font-size: 4rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 .7em;
    aspect-ratio: 1;
    background-color: var(--clr-light);
    color: var(--clr-dark-blue);
}

.timer-btn {
    display: flex;
    justify-content: space-evenly;
}







